---
import { Image, getImage } from "astro:assets";
import heroSm from "@/assets/images/hero/hero-photo-sm.webp";
import heroXl from "@/assets/images/hero/hero-photo-xl.webp";

const heroXlOptimized = await getImage({ src: heroXl, format: "webp" });
---

<section
  role="banner"
  class="card w-full flex flex-col gap-4 justify-center items-center text-center
  md:row-span-7 md:size-full
  xl:col-start-1 xl:row-span-7"
  aria-labelledby="hero-name"
>
  <picture
    class="size-48 border border-accent rounded-full bg-background xl:size-52 m-0 overflow-hidden"
    aria-hidden="true"
  >
    <source srcset={heroXlOptimized.src} media="(min-width: 1280px)" />
    <Image
      src={heroSm}
      alt="Portrait of Martín Viera with his face turned slightly to the right, a serious expression, wearing a black T-shirt, against a dark background with soft lighting."
      class="size-full"
      layout="none"
      priority
    />
  </picture>

  <header>
    <h1 id="hero-name" class="title text-3xl xl:text-4xl">Martín Viera</h1>
    <p class="text-xl xl:text-2xl">Frontend Developer</p>
  </header>
</section>
