---
import { ABOUT_ME_ITEMS } from "./data";
---

<section
  class="card flex flex-col justify-center gap-4
    max-md:col-auto max-md:row-auto
    md:size-full md:col-start-2 md:row-span-11
    xl:col-start-2 xl:col-end-4 xl:row-span-6 xl:row-start-1
    3xl:col-start-2 3xl:col-end-6 3xl:row-start-1 3xl:row-span-5 3xl:text-lg"
  aria-labelledby="about-me-heading"
>
  <h2 id="about-me-heading">About Me</h2>

  <ul class="flex flex-col gap-3 list-none m-0 p-0">
    {
      ABOUT_ME_ITEMS.map(({ Icon, description }) => (
        <li class="flex items-center gap-4">
          <span class="shrink-0" aria-hidden="true">
            <Icon class="size-6 stroke-accent" />
          </span>
          <p >{description}</p>
        </li>
      ))
    }
  </ul>
</section>
