---
import { FEATURE_GRID_POSITIONS } from "@/shared/constants/feature-grid-positions";
import { ABOUT_ME_ITEMS } from "./data";
---

<section
  class={`card flex flex-col justify-center gap-4 3xl:text-lg ${FEATURE_GRID_POSITIONS.aboutMe}`}
  aria-labelledby="about-me-heading"
>
  <h2 id="about-me-heading">About Me</h2>

  <ul class="flex flex-col gap-3 list-none m-0 p-0">
    {
      ABOUT_ME_ITEMS.map(({ Icon, description }) => (
        <li class="flex items-start  gap-4">
          <span class="shrink-0" aria-hidden="true">
            <Icon class="size-6 mt-2 stroke-accent" />
          </span>
          <p>{description}</p>
        </li>
      ))
    }
  </ul>
</section>
