---
import { PROJECTS_LIST } from "./data";

import ProjectCard from "./components/project-card.astro";

import { FEATURE_GRID_POSITIONS } from "@/shared/constants/feature-grid-positions";
---

<section
  class={`card relative flex w-full flex-col ${FEATURE_GRID_POSITIONS.projects}`}
  aria-labelledby="projects-heading"
>
  <header class="mb-3 flex items-center justify-between gap-2">
    <h2 id="projects-heading" class="flex gap-3">
      <span class="hidden font-heading text-accent 3xl:block">Featured</span>
      Projects
    </h2>
  </header>

  <div
    class="viewport overflow-hidden size-full relative"
    role="region"
    aria-roledescription="carousel"
    aria-label="Projects carousel"
  >
    <nav
      class="controls absolute left-1/2 bottom-2 flex gap-3 z-10 -translate-x-1/2 top-43 xl:top-38 3xl:hidden"
      aria-label="Project carousel navigation"
    >
      {
        PROJECTS_LIST.map((item, index) => (
          <input
            id={`r${index + 1}`}
            type="radio"
            name="slider"
            checked={index === 0}
            aria-label={`Show ${item.title} project`}
            class="appearance-none size-4 rounded-full border border-white checked:bg-accent cursor-pointer"
          />
        ))
      }
    </nav>

    <ul
      class="track flex h-full w-[300%] transition-transform duration-500 3xl:w-full 3xl:gap-5 3xl:transition-none"
    >
      {
        PROJECTS_LIST.map((item, index) => (
          <ProjectCard project={item} index={index} />
        ))
      }
    </ul>
  </div>
</section>

<style>
  @media (max-width: 112.499rem) {
    .viewport:has(#r1:checked) .track {
      transform: translateX(0%);
    }
    .viewport:has(#r2:checked) .track {
      transform: translateX(-33.333%);
    }
    .viewport:has(#r3:checked) .track {
      transform: translateX(-66.666%);
    }
  }
</style>
