@import "tailwindcss";

@font-face {
  font-family: "Axope";
  src: url("/fonts/axope.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Elianto";
  src: url("/fonts/elianto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Firacode";
  src: url("/fonts/firacode.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-power: #c3d809;
  --color-power-light: #dbe84b;
  --color-power-dark: #a0b207;

  --color-modern-gray-dark: #111011;
  --color-modern-gray: #222022;
  --color-modern-gray-light: #333133;

  --color-white: #f5f5f5;
  --color-gray-200: #d4d4d4;
  --color-gray-400: #9b9b9b;
  --color-border-gray: #333133;


  /* surfaces */
  --color-background: var(--color-modern-gray-dark);
  --color-surface: var(--color-modern-gray);
  --color-surface-hover: var(--color-modern-gray-light);

  /* Text */
  --color-primary: var(--color-white);
  --color-secondary: var(--color-gray-200);
  --color-muted: var(--color-gray-400);

  /* Accent */
  --color-accent: var(--color-power);
  --color-accent-hover: var(--color-power);
  --color-accent-active: var(--color-power-light);
  --color-accent-dark: var(--color-power-dark);

  /* Buttons */
  --color-button: var(--color-power);
  --color-button-hover: var(--color-power-light);
  --color-button-active: var(--color-power-dark);
  --color-button-text: var(--color-modern-gray-dark);

  /* Borders */
  --color-border: var(--color-border-gray);
  --color-border-hover: var(--color-power);

  /* Links */
  --color-link: var(--color-gray-200);
  --color-link-hover: var(--color-power);

  /* Status */
  --color-success: var(--color-green);
  --color-warning: var(--color-orange);
  --color-danger: var(--color-red);

  /* Breakpoints */
  --breakpoint-3xl: 120rem;

}

h1,
h2 {
  font-family: "Axope", sans-serif;
  color: var(--color-accent);
  letter-spacing: 2px;
}

p,
h3,
h4,
h5,
h6,
span,
li {
  font-family: "Firacode", sans-serif;
  color: var(--color-primary);
}


.card {
  @apply bg-surface p-3 w-full rounded-md;
  box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.75);
}



/** Tailwind custom classes */

/** so that screen readers do not read “bullet”. */
.tech-tool-item::before {
  content: "•";
  margin-right: 0.05rem;
  color: var(--color-white);
}

[data-slider]:not(.js-initialized) [data-slider-track] > article[hidden] {
  display: none;
}

a:focus-visible,
button:focus-visible,
[tabindex="0"]:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

