---
import { FEATURE_GRID_POSITIONS } from "@/shared/constants/feature-grid-positions";
import { SOCIAL_LINKS } from "./data";
---

<nav
  aria-labelledby="socials-heading"
  class={`card ${FEATURE_GRID_POSITIONS.socials}`}
>
  <h2 id="socials-heading" class="sr-only">Let's Connect!</h2>

  <ul
    class="flex gap-2 justify-between items-center md:justify-center md:gap-4"
  >
    {
      SOCIAL_LINKS.map(({ Icon, link, label }) => {
        return (
          <li class="size-10 shrink-0  hover:-translate-y-1 group transition-all duration-300 md:size-11">
            <a
              href={link}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={`${label} (opens in new tab)`}
              title={label}
            >
              <Icon
                class=" size-full group-hover:text-accent transition-all duration-300"
                aria-hidden="true"
              />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
