---
import CardBase from "../ui/CardBase.astro";
---

<CardBase>
  <article class="flex flex-col gap-3">
    <h3 class="text-2xl">About Me</h3>

    <p>
      I’m a Front-End Developer passionate about creating modern, user-focused
      web applications. Over the past few years, I’ve built projects with React,
      Astro, TypeScript, and Tailwind CSS, with a strong focus on
      maintainability, performance, and user experience. I'm looking to join a
      team where I can contribute to meaningful products and continue improving
      my technical skills.
    </p>
  </article>
</CardBase>
