---
import CardBase from "../ui/CardBase.astro";
import {
  GithubIco,
  InstagramIco,
  LinkedInIco,
  TelegramIco,
  DiscordIco,
} from "../icons/social";

 const SOCIAL_LINKS = [
  { Icon: GithubIco, link: "https://github.com/Vieramaster", label: "GitHub" },
  {
    Icon: InstagramIco,
    link: "https://www.instagram.com/martin_viera90/",
    label: "Instagram",
  },
  {
    Icon: LinkedInIco,
    link: "https://www.linkedin.com/in/rodrigo-martin-viera-royer",
    label: "LinkedIn",
  },
  { Icon: TelegramIco, link: "https://t.me/vieramaster", label: "Telegram" },
  {
    Icon: DiscordIco,
    link: "https://discord.com/users/viera#4098",
    label: "Discord",
  },
] as const;
---

<CardBase className="w-full flex flex-col gap-3">
  <span>Let's Connect!</span>
  <nav aria-label="Social media" class="w-full">
    <ul class="flex gap-5 justify-center items-center">
      {
        SOCIAL_LINKS.map(({ Icon, link, label }) => (
          <li class="shrink-0 size-10 hover:-translate-y-1 group transition-all duration-300">
            <a href={link}>
              <Icon class="group-hover:text-accent transition-all duration-300" />
              <span class="sr-only">{label}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</CardBase>
