---
import {
  AstroIco,
  ReactIco,
  NextIco,
  TailwindIco,
  TypescriptIco,
} from "../icons/tech";

import CardBase from "../ui/CardBase.astro";

const TOOLS_LIST = [
  "TanStack",
  "Vercel",
  "Zustand",
  "Git/GitHub",
  "Zod",
  "Shadcn/ui",
  "React Doctor",
  "Vitest",
  "Eslint",
  "Prettier",
  "Vercel",
  "React Router",
];

const TECH_ICONS = [
  { Icon: AstroIco, label: "Astro" },
  { Icon: ReactIco, label: "React" },
  { Icon: NextIco, label: "Next.js" },
  { Icon: TailwindIco, label: "Tailwind CSS" },
  { Icon: TypescriptIco, label: "TypeScript" },
] as const;
---

<CardBase className="w-full flex flex-col gap-3">
  <h5 class="text-accent!">Core Stack</h5>
  <ul class="flex gap-5 justify-center items-center">
    {
      TECH_ICONS.map(({ Icon, label }) => (
        <li class="shrink-0 size-8 ">
          <Icon />
          <span class="sr-only">{label}</span>
        </li>
      ))
    }
  </ul>
  <h5 class="text-accent!">Tools</h5>
  <ul class="list-disc list-inside flex flex-wrap justify-center gap-3">
    {TOOLS_LIST.map((item) => <li>{item}</li>)}
  </ul>
</CardBase>
