---
import Title from "../ui/Title.astro";
---

<section class="card flex flex-col gap-3 justify-center
max-md:col-auto max-md:row-auto
md:size-full md:col-start-2 row-span-8
xl:col-start-2 xl:col-end-4 xl:row-span-5
"

aria-labelledby="about-me-heading">
  <Title title="About Me" id="about-me-heading" />

  <p>
    I'm a Front-End Developer passionate about creating modern, user-focused web
    applications. Over the past few years, I've built projects with React,
    Astro, TypeScript, and Tailwind CSS, with a strong focus on maintainability,
    performance, and user experience. I'm looking to join a team where I can
    contribute to meaningful products and continue improving my technical
    skills.
  </p>
</section>
