---

---

<section
  class="card w-full flex flex-col gap-4 justify-center items-center text-center
  md:row-span-7 md:size-full
  xl:col-start-1 xl:row-span-7"
>
  <div class="size-48 border border-accent rounded-full bg-background xl:size-52"></div>
  <div>
    <h1 class="h1-title">Martín Viera</h1>
    <p class="text-xl xl:text-2xl">Frontend Developer</p>
  </div>
</section>
