---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {
  SoftGridHero,
  LetsTalk,
  Projects,
  AboutMe,
  Techs,
  Socials,
  Achievements,
} from "@/components/blocks";
---

<BaseLayout>
  <main class="w-80 mx-auto py-5 grid grid-cols-1 gap-5 place-items-center">
    <h1 class="sr-only">Martin Viera — Front-End Developer Portfolio</h1>
    <SoftGridHero />
    <LetsTalk />
    <Projects />
    <AboutMe />
    <Techs />
    <Achievements />
    <Socials />
  </main>
</BaseLayout>

<script>
  import { initClient } from "@/logic/init";

  initClient();
</script>
