---
import "../styles/global.css";
import { PhotoCard, LetsTalkCard } from "../components/cards/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body class="bg-background">
    <main class="w-80 mx-auto p-5 grid grid-cols-1 gap-5 place-items-center">
      <PhotoCard />
      <LetsTalkCard />
    </main>
  </body>
</html>
