---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {
  SoftGridHero,
  LetsTalk,
  Projects,
  AboutMe,
  TechsStack,
  Socials,
  Achievements,
} from "@/components/blocks";
---

<BaseLayout>
  <main
    class="w-80 mx-auto py-6 min-h-dvh grid grid-cols-1 gap-4 place-items-center place-content-center
          max-md:w-full max-md:max-w-80 max-md:px-4 max-md:min-h-0 max-md:place-items-stretch max-md:place-content-start max-md:gap-5
          md:w-180 md:grid-cols-2 md:grid-rows-[repeat(20,2rem)]
          xl:w-6xl xl:grid-cols-3 xl:grid-rows-[repeat(12,2rem)] xl:gap-6"
  >
    <SoftGridHero />
    <LetsTalk />
    <AboutMe />
    <Projects />
    <TechsStack />
    <Socials />
    <Achievements />
  </main>
</BaseLayout>

<script>
  import { initClient } from "@/logic/init";

  initClient();
</script>
