---
import { FEATURE_GRID_POSITIONS } from "@/shared/constants/feature-grid-positions";
import { ACHIEVEMENTS_LIST } from "./data";
---

<section
  aria-labelledby="achievements-heading"
  class={`w-full ${FEATURE_GRID_POSITIONS.achievements}`}
>
  <h2 id="achievements-heading" class="sr-only">Achievements</h2>

  <ul
    class="flex w-full flex-col gap-4 md:flex-row md:size-full xl:h-full xl:gap-6"
  >
    {
      ACHIEVEMENTS_LIST.map(({ title, description, Icon, iconVariant }) => (
        <li class="card flex gap-4 justify-between items-center xl:flex-1 xl:h-full">
          <div class="flex items-center gap-2 w-1/3">
            <Icon
              aria-hidden="true"
              class={`size-10 shrink-0 ${
                iconVariant === "stroke" ? "stroke-accent" : "fill-accent"
              }`}
            />
            <span class="md:text-lg">{title}</span>
          </div>

          <p class="w-2/3 md:text-center text-sm md:text-base">{description}</p>
        </li>
      ))
    }
  </ul>
</section>
