---
interface Props {
  className?: string;
}

const { className }: Props = Astro.props;
---

<section
  class={`bg-surface p-3 size-80 rounded-md transition delay-150 duration-400 ease-in-out
         hover:shadow-[0_0_10px] hover:shadow-accent/40 ${className}`}
>
  <slot />
</section>
